

@import "functions";
@import "helpers/variables";
@import "bootstrap";

.object-cover {
  object-fit: cover;
}
.h-200 {
  height: 200px;
}
.icon-bg {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary;
  background-color: $light;
  border-radius: 50px;
  margin-bottom: 16px;
}

