<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>SpaceGo 共創空間</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="stylesheets/all.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>SpaceGo</strong>
        </a>
      </div>
    </div>
  </header>

  <main role="main">

    <section class="jumbotron text-center mb-0"
      style="background-image: url(https://images.unsplash.com/photo-1570126646281-5ec88111777f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1741&q=80); background-size: cover;  background-position: center; height: 400px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-white text-center py-3" style="background-color: rgba(0,0,0,0.26);">
            <h1 class="font-weight-bold display-3 mb-4">SpaceGo</h1>
            <p class="mb-1">工作空間最佳解決方案</p>
            <p class="">活動空間、辦公空間租賃</p>
          </div>
        </div>
      </div>
    </section>
    <div class="container my-5">
      <h2 class="mb-5 text-center">SpaceGo 三大優勢 </h2>
      <div class="row">
        <div class="col-lg-4">
          <span class="display-4 material-icons icon-bg">
            price_check
          </span>
          <h4>價格透明</h4>
          <p>空間與價格都標示在網站上，讓您可以直接預估預算、挑選適合的空間。</p>
        </div>
        <div class="col-lg-4">
          <span class="display-4 material-icons icon-bg">
            highlight
          </span>
          <h4>品質把關</h4>
          <p>合作空間都經過 SpaceGo 品質確認，包含整體衛生整潔、逃生安全等多項確認。</p>
        </div>
        <div class="col-lg-4">
          <span class="display-4 material-icons icon-bg">
            supervisor_account
          </span>
          <h4>專人服務</h4>
          <p>租賃期間都會有專員服務，遇到任何問題都可已隨時找到人處理。</p>
        </div>
      </div>
    </div>
    <div class="pt-5 bg-light">
      <div class="container">
        <h2 class="mb-4 text-primary">辦公空間 <span class="material-icons">
            sort
          </span></h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1560264280-88b68371db39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                class="card-img-top h-200 object-cover" alt="...">
              <div class="card-body">
                <h5 class="card-title">商務型大空間 / 長租</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>最短租期：一年</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>可容納：30 人</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>租金：60,000 / 月</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1578991624414-276ef23a534f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2827&q=80"
                class="card-img-top h-200 object-cover" alt="">
              <div class="card-body">
                <h5 class="card-title">文青風整層辦公室 / 長租</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>最短租期：一年</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>可容納：30 人</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>租金： 120,000 / 月</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1600508773950-d522f5bb7606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="card-img-top h-200 object-cover" alt="...">
              <div class="card-body">
                <h5 class="card-title">現代感大辦公室 / 長租</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>最短租期：一年</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>可容納：60 人</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>租金： 130,000 / 月</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1572025442811-aa5146a780fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1326&q=80"
                class="card-img-top h-200 object-cover" alt="...">
              <div class="card-body">
                <h5 class="card-title">新創小空間 / 短租</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>最短租期：半年</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>可容納：4 人</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>租金：5,000 / 月</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1551834317-9ddfd4ec7069?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="card-img-top h-200 object-cover" alt="...">
              <div class="card-body">
                <h5 class="card-title">多隔間小辦公室 / 短租</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>最短租期：半年</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>可容納：10 人</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>租金： 10,000 / 月</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1558788833-5189550e2f16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
                class="card-img-top h-200 object-cover" alt="...">
              <div class="card-body">
                <h5 class="card-title">極簡小空間 / 短租</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>最短租期：半年</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>可容納：4 人</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>租金：5,500 / 月</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-dark btn-lg">我有興趣，聯繫專員</button>
        </div>
      </div>
    </div>
    <div class="album py-5 bg-light">
      <div class="container">
        <h2 class="mb-4 text-primary">活動場地 <span class="material-icons">
            sort
        </span></h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1497366412874-3415097a27e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80"
                class="card-img-top h-200 object-cover" alt="...">
              <div class="card-body">
                <h5 class="card-title">舒適會議室</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>最短租時：3 小時</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>適合單日會議</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>租金：6000 / 小時</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1497366672149-e5e4b4d34eb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"
                class="card-img-top h-200 object-cover" alt="">
              <div class="card-body">
                <h5 class="card-title">設備齊全單層活動空間</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                    check
                  </span>最短租時：4 小時</li>
                <li><span class="material-icons align-middle mr-2">
                    check
                  </span>適合單日交流活動、空間開放</li>
                <li><span class="material-icons align-middle mr-2">
                    check
                  </span>租金：8000 / 小時</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1464075208758-5623fb69e13b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                class="card-img-top h-200 object-cover" alt="...">
              <div class="card-body">
                <h5 class="card-title">精緻小空間</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>最短租時：2 小時</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>適合人數較少的菁英會議</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>租金：3200 / 小時</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1505409859467-3a796fd5798e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="card-img-top h-200 object-cover" alt="...">
              <div class="card-body">
                <h5 class="card-title">中型開放式空間</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                    check
                  </span>最短租時：3 小時</li>
                <li><span class="material-icons align-middle mr-2">
                    check
                  </span>適合公司部門聚會</li>
                <li><span class="material-icons align-middle mr-2">
                    check
                  </span>租金：5000 / 小時</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img
                src="https://images.unsplash.com/photo-1505624198937-c704aff72608?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="card-img-top h-200 object-cover" alt="...">
              <div class="card-body">
                <h5 class="card-title">商務型中空間</h5>
                <p class="card-text">
                <ul class="list-unstyled">
                  <li><span class="material-icons align-middle mr-2">
                    check
                  </span>最短租時：3 小時</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>適合公司高層齊聚開會</li>
                  <li><span class="material-icons align-middle mr-2">
                      check
                    </span>租金：7800 / 小時</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-dark btn-lg">我有興趣，聯繫專員</button>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <h2 class="text-center mb-4">好評推薦</h2>
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="border rounded h-100 d-flex align-items-start p-3">
            <img src="https://randomuser.me/api/portraits/men/77.jpg" alt="" class="rounded-circle" width="60">
            <div class="ml-3">
              <h5>Leo / 花泥科技 CEO</h5>
              <p class="mb-0">SpaceGo 的空間品質真的很好，價格也是公開透明，是公司每次辦活動的首選。</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="border rounded h-100 d-flex align-items-start p-3">
            <img src="https://randomuser.me/api/portraits/women/52.jpg" alt="" class="rounded-circle" width="60">
            <div class="ml-3">
              <h5>Lisa / 彩心媒體執行長</h5>
              <p class="mb-0">和 SpaceGo 合作已經有 20 年了，感謝提供我們優良的辦公空間。我常笑說辦公室的更換率比流動率更低呢！</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="border rounded h-100 d-flex align-items-start p-3">
            <img src="https://randomuser.me/api/portraits/men/14.jpg" alt="" class="rounded-circle" width="60">
            <div class="ml-3">
              <h5>Ricky / 浪花娛樂</h5>
              <p class="mb-0">浪花娛樂的尾牙空間首選就是 SpaceGo，價格都很透明，也有專人幫忙聯繫，不怕到場一團亂。</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="border rounded h-100 d-flex align-items-start p-3">
            <img src="https://randomuser.me/api/portraits/men/98.jpg" alt="" class="rounded-circle" width="60">
            <div class="ml-3">
              <h5>Jrade / 花花醫療</h5>
              <p class="mb-0">每年的醫療會議都是跟 SpaceGo 合作，空間都是很有格調的，讓來賓說 Good Good 啦！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="bg-dark py-3">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-5">
          <h4 class="mb-0 text-white">訂閱我們，搶先了解最新空間！</h4>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Eamil" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="button-addon2">訂閱</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-light py-4">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-0">SpaceGo, Let's go to a good space.</p>
      <p class="mb-0 text-muted">© Copyright. All Rights Reserved</p>
    </div>
  </footer>
</body>
</html>